<% include ../core/header %>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="container-fluid limit-width">
            <h2 class="text-center">로그인</h2>
            <%
                for (let i = 0; i < error.length; i++) {
                    %>
                    <div class="alert alert-danger" role="alert">
                        <%= error[i] %>
                    </div>
                    <%
                }
            %>
            <form method="post" action="/auth/login">
                <div class="form-group">
                    <h3>아이디</h3>
                    <input type="text" class="form-control" name="id" value="<%= id %>" tabindex="1">
                </div>
                <div class="form-group">
                    <h3>비밀번호</h3>
                    <input type="password" class="form-control" name="pwd" value="" tabindex="2">
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="autologin" tabindex="3">
                        자동 로그인
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary" value="로그인">
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->

<% include ../core/footer %>
