<% include ../core/header %>

<!-- Page Content -->
<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>MongoDB Tutorial</h2>
            <p class="lead">CRUD</p>

            <div class="list-group limit-width text-left">
                <a href="/mongo/create" class="list-group-item list-group-item-action">Create</a>
                <a href="/mongo/read" class="list-group-item list-group-item-action">Read</a>
                <a href="/mongo/update" class="list-group-item list-group-item-action">Update</a>
                <a href="/mongo/delete" class="list-group-item list-group-item-action">Delete</a>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<% include ../core/footer %>
