<% include ../core/header %>

<!-- Page Content -->
<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>MongoDB Tutorial</h2>
            <p class="lead">Read</p>

            <pre><%= JSON.stringify(data, null, 4) %></pre>
        </div>
    </div>
</div><!-- /.container -->

<% include ../core/footer %>
